<main class="h-[100vh] w-full">
  <div class="mx-auto h-full py-10 px-16">
    <.flash_group flash={@flash} />
    <div class="rounded-xl overflow-clip h-full w-full shadow-2xl">
      <%= @inner_content %>
    </div>
  </div>
</main>
